{% extends 'base.html' %}

{% block content %}
<!-- Start Compare result -->
  <div class="Compare-result">
    <div class="container">
      <div class="text">
        <h2>Compare Result</h2>
        <p>Make your decision upon the comparison outcome.</p>
      </div>
      <div class="result-box">
        <div class="first-result">
          <div class="img-box">
            <img src="images/r1.jpg" alt="image">
            <h4>Mercedes-Benz AMG GT 2-door coupe yellow</h4>
          </div>
          <div class="specs">
            <label for="">Price</label>
            <div>$40.000</div>
            <label for="">Transmission</label>
            <div>Manual</div>
            <label for="">Engine Size</label>
            <div>4.8L</div>
            <label for="">Power</label>
            <div>237 Hp</div>
          </div>
        </div>
        <div class="second-result">
          <div class="img-box">
            <img src="images/r2.jpg" alt="image">
            <h4>Porsche Macan 5-door SUV blue</h4>
          </div>
          <div class="specs">
            <label for="">Price</label>
            <div>$60.000</div>
            <label for="">Transmission</label>
            <div>Automatic</div>
            <label for="">Engine Size</label>
            <div>5L</div>
            <label for="">Power</label>
            <div>300 Hp</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Compare result -->
{% endblock content %}