 {% extends 'base.html' %}
  <!-- Start Profile  -->
 {% block content %}
  <div class="profile">
    <div class="container">
      <div class="title">
        <h4>Account</h4>
        <button>Sign Out</button>
      </div>
      <h3>Account Details</h3>
      <div class="details">
        <p>your contact details</p>
        <label for="">Name*</label>
        <input type="text">
        <label for="">phone</label>
        <input type="text">
        <label for="">Email</label>
        <input type="email" name="" id="">
        <button>Save changes</button>
      </div>
      <button class="delete">Delete Account</button>
    </div>
  </div>
  <!-- End Profile  -->
 {% endblock content%}