{% extends 'base.html' %}
<!-- Start Query  -->
{% block content %}
  <div class="query">
    <div class="container">
      <div class="heading">
        <h2>Questionnaire</h2>
        <p>Find trouble making a decision? the questions below will help you make one</p>
      </div>
      <div class="query-container">
        <div class="text">
          <h3> <span>1</span> What kind of car are you looking for ?</h3>
          <p>Choose a make:</p>
          <select name="" id="">
            <option value="">All Makes</option>
          </select>
          <i class="fa-sharp fa-solid fa-person-circle-question"></i>
        </div>
        <div class="text">
          <h3> <span>2</span> What is your preferred car model ?</h3>
          <p>Choose a model:</p>
          <select name="" id="">
            <option value="">Car Model</option>
          </select>
          <i class="fa-sharp fa-solid fa-person-circle-question"></i>
        </div>
        <div class="text">
          <h3> <span>3</span> What is the expected range of Budget you can afford for your desired car ?</h3>
          <p>Set Price:</p>
          <input type="text" placeholder="Min Price">
          <input type="text" placeholder="Max Price">
          <i class="fa-sharp fa-solid fa-person-circle-question"></i>
        </div>
        <div class="text">
          <h3> <span>4</span> What is your preferred transmission type?</h3>
          <p>Choose a transmission:</p>
          <select name="" id="">
            <option value="">Transmission</option>
            <option value="">Automatic</option>
            <option value="">Manual</option>
          </select>
          <i class="fa-sharp fa-solid fa-person-circle-question"></i>
        </div>
        <div class="text">
          <h3> <span>5</span> How would you like the condition of the car ?</h3>
          <p>Choose condition:</p>
          <select name="" id="">
            <option value="">Condition</option>
          </select>
          <i class="fa-sharp fa-solid fa-person-circle-question"></i>
        </div>
        <div class="text">
          <h3> <span>6</span> What is your preferred body style ?</h3>
          <p>Choose a style:</p>
          <select name="" id="">
            <option value="">Body Style</option>
          </select>
          <i class="fa-sharp fa-solid fa-person-circle-question"></i>
        </div>
        <div class="text">
          <h3> <span>7</span> What is the the car's engine horsepower (Hp) ?</h3>
          <p>Choose Power:</p>
          <select name="" id="">
            <option value="">Power</option>
            <option value="">1500 Hp</option>
          </select>
          <i class="fa-sharp fa-solid fa-person-circle-question"></i>
        </div>
        <div class="text">
          <h3> <span>8</span> What is the car year of production ?</h3>
          <p>Choose a year:</p>
          <select name="" id="">
            <option value="">Year</option>
          </select>
          <i class="fa-sharp fa-solid fa-person-circle-question"></i>
        </div>
      </div>
      <input type="submit" value="Submit">
    </div>
  </div>
  <!-- End Query  -->
{% endblock content %}