{% extends 'base.html' %}
{% load static %}
  <!-- Start Search  -->
{% block content %}
  <div class="search">
    <div class="container">
      <h4>Car search filter:</h4>
      <div class="filter">
        <select name="" id="">
          <option value="">Make</option>
        </select>
        <select name="" id="">
          <option value="">Model</option>
        </select>
        <select name="" id="">
          <option value="">Transmission</option>
        </select>
        <select name="" id="">
          <option value="">Max Price</option>
        </select>
        <select name="" id="">
          <option value="">Min Price</option>
        </select>
        <select name="" id="">
          <option value="">Power</option>
        </select>
        <select name="" id="">
          <option value="">Doors</option>
        </select>
        <select name="" id="">
          <option value="">Year</option>
        </select>
        <select name="" id="">
          <option value="">Color</option>
        </select>
        <select name="" id="">
          <option value="">Cylinders</option>
        </select>
      </div>
      <div class="bottom-filter">
        <ul>
          <li>All <span>(100)</span></li>
          <li>New <span>(71)</span></li>
          <li>Used <span>(29)</span></li>
        </ul>
        <div class="word-filter">
          <input type="text" placeholder="Enter Keyword">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
      <div class="search-result">
        <h3>100 Result</h3>
        <div class="search-box">
          <a href="car-view.html">
            <div class="content">
              <img src="{% static 'images/img-1.jpg' %}" alt="">
              <div class="info">
                <h4>Chevrolet Camaro 2-door convertible blue</h4>
                <p>keyless start, leather sears, navigation system, reversing camera</p>
                <ul>
                  <li class="active">2023</li>
                  <li>Manual</li>
                  <li>Petrol</li>
                  <li>Frontwheel drive</li>
                </ul>
              </div>
              <div class="price">$60,000</div>
            </div>
          </a>
        </div>
        <div class="search-box">
          <a href="car-view.html">
            <div class="content">
              <img src="{% static 'images/img-1.jpg' %}" alt="">
              <div class="info">
                <h4>Chevrolet Camaro 2-door convertible blue</h4>
                <p>keyless start, leather sears, navigation system, reversing camera</p>
                <ul>
                  <li class="active">2023</li>
                  <li>Manual</li>
                  <li>Petrol</li>
                  <li>Frontwheel drive</li>
                </ul>
              </div>
              <div class="price">$60,000</div>
            </div>
          </a>
        </div>
        <div class="search-box">
          <a href="car-view.html">
            <div class="content">
              <img src="{% static 'images/img-1.jpg' %}" alt="">
              <div class="info">
                <h4>Chevrolet Camaro 2-door convertible blue</h4>
                <p>keyless start, leather sears, navigation system, reversing camera</p>
                <ul>
                  <li class="active">2023</li>
                  <li>Manual</li>
                  <li>Petrol</li>
                  <li>Frontwheel drive</li>
                </ul>
              </div>
              <div class="price">$60,000</div>
            </div>
          </a>
        </div>
        <div class="search-box">
          <a href="car-view.html">
            <div class="content">
              <img src="{% static 'images/img-1.jpg' %}" alt="">
              <div class="info">
                <h4>Chevrolet Camaro 2-door convertible blue</h4>
                <p>keyless start, leather sears, navigation system, reversing camera</p>
                <ul>
                  <li class="active">2023</li>
                  <li>Manual</li>
                  <li>Petrol</li>
                  <li>Frontwheel drive</li>
                </ul>
              </div>
              <div class="price">$60,000</div>
            </div>
          </a>
        </div>
        <div class="search-box">
          <a href="car-view.html">
            <div class="content">
              <img src="{% static 'images/img-1.jpg' %}" alt="">
              <div class="info">
                <h4>Chevrolet Camaro 2-door convertible blue</h4>
                <p>keyless start, leather sears, navigation system, reversing camera</p>
                <ul>
                  <li class="active">2023</li>
                  <li>Manual</li>
                  <li>Petrol</li>
                  <li>Frontwheel drive</li>
                </ul>
              </div>
              <div class="price">$60,000</div>
            </div>
          </a>
        </div>
        <div class="search-box">
          <a href="car-view.html">
            <div class="content">
              <img src="{% static 'images/img-1.jpg' %}" alt="">
              <div class="info">
                <h4>Chevrolet Camaro 2-door convertible blue</h4>
                <p>keyless start, leather sears, navigation system, reversing camera</p>
                <ul>
                  <li class="active">2023</li>
                  <li>Manual</li>
                  <li>Petrol</li>
                  <li>Frontwheel drive</li>
                </ul>
              </div>
              <div class="price">$60,000</div>
            </div>
          </a>
        </div>
        <div class="search-box">
          <a href="car-view.html">
            <div class="content">
              <img src="{% static 'images/img-1.jpg' %}" alt="">
              <div class="info">
                <h4>Chevrolet Camaro 2-door convertible blue</h4>
                <p>keyless start, leather sears, navigation system, reversing camera</p>
                <ul>
                  <li class="active">2023</li>
                  <li>Manual</li>
                  <li>Petrol</li>
                  <li>Frontwheel drive</li>
                </ul>
              </div>
              <div class="price">$60,000</div>
            </div>
          </a>
        </div>
        <div class="search-box">
          <a href="car-view.html">
            <div class="content">
              <img src="{% static 'images/img-1.jpg' %}" alt="">
              <div class="info">
                <h4>Chevrolet Camaro 2-door convertible blue</h4>
                <p>keyless start, leather sears, navigation system, reversing camera</p>
                <ul>
                  <li class="active">2023</li>
                  <li>Manual</li>
                  <li>Petrol</li>
                  <li>Frontwheel drive</li>
                </ul>
              </div>
              <div class="price">$60,000</div>
            </div>
          </a>
        </div>
        <div class="search-box">
          <a href="car-view.html">
            <div class="content">
              <img src="{% static 'images/img-1.jpg' %}" alt="">
              <div class="info">
                <h4>Chevrolet Camaro 2-door convertible blue</h4>
                <p>keyless start, leather sears, navigation system, reversing camera</p>
                <ul>
                  <li class="active">2023</li>
                  <li>Manual</li>
                  <li>Petrol</li>
                  <li>Frontwheel drive</li>
                </ul>
              </div>
              <div class="price">$60,000</div>
            </div>
          </a>
        </div>
        <div class="search-box">
          <a href="car-view.html">
            <div class="content">
              <img src="{% static 'images/img-1.jpg' %}" alt="">
              <div class="info">
                <h4>Chevrolet Camaro 2-door convertible blue</h4>
                <p>keyless start, leather sears, navigation system, reversing camera</p>
                <ul>
                  <li class="active">2023</li>
                  <li>Manual</li>
                  <li>Petrol</li>
                  <li>Frontwheel drive</li>
                </ul>
              </div>
              <div class="price">$60,000</div>
            </div>
          </a>
        </div>

      </div>
      <div class="slider">
        <div class="prev">
          <i id="prev" class="fas fa-angle-left change-background "></i>
        </div>
        <ul>
          <li class="active">1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
        <div class="next">
          <i id="next" class="fas fa-angle-right change-background "></i>
        </div>
      </div>
    </div>
  </div>
  <!-- End Search  -->
{% endblock content %}