{% extends 'base.html'%}
<!-- Start Car view  -->
{% block content %}
  <div class="car-view">
    <div class="container">
      <div class="car-card">
        <img src="images/img-1.jpg" alt="image">
        <a href="Compare-Cars.html"><button>Compare</button></a>
        <div class="car-info">
          <h2>Chevrolet Camaro 2-door convertible blue</h2>
          <ul class="active">
            <li>2023</li>
            <li>Convertible</li>
            <li>Diesel</li>
          </ul>
          <span>$40,000</span>
          <div class="car-details">
            <ul class="title">
              <li>Make:</li>
              <li>Model:</li>
              <li>color:</li>
              <li>Transmission:</li>
              <li>Condition:</li>
              <li>Year:</li>
              <li>Doors:</li>
              <li>Power</li>
              <li>Engine Size</li>
              <li>Cylinders:</li>
            </ul>
            <ul class="specs">
              <li>Chevrolet</li>
              <li>Camaro</li>
              <li>blue</li>
              <li>Automatic</li>
              <li>New</li>
              <li>2021</li>
              <li>2-door</li>
              <li>1500 Hp</li>
              <li>5L</li>
              <li>6</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Car view  -->
{% endblock content %}