{% load static %}
<!-- Start Header -->
  <header>
    <a href="index.html" class="logo">
      <img src="{% static 'images/favpng_sports-car-logo.png' %}o" alt="logo">
      <p>CarCraft</p>
    </a>
    <nav>
      <i class="fa-solid fa-bars toggle-menu"></i>
      <ul>
        <li><a class="active" href="index.html">Home</a></li>
        <li><a href="#used-cars">Used Cars</a></li>
        <li><a href="Sell-Car.html">Sell Car</a></li>
        <li><a href="Compare-Cars.html">Compare Cars</a></li>
        <li><a href="query.html">Query Search</a></li>
        <li><a href="#About">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <div class="form">
        <i class="fa-regular fa-user"></i>
        <a href="login.html">Log in</a>
        <a class="wall" href="sign-up.html">Sign up</a>
        <a class="prof" href="profile.html">Profile</a>
      </div>
    </nav>
  </header>
  <!-- End Header -->